*{
    font-family:  'Kanit', sans-serif;
    color: black;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.brand-logo img{
    width: 50px;
    width: 50px;
}
.alinhando-conteudo{
    text-align: center;
    align-items: center;
}
.sub-menu-2 ul li{
    padding-left: 30px;
}
.butao-1-menu{
    border-radius: 20px;
    padding: 8px;
    width: 90px;
    background-color:white;
}
.butao-2-menu{
    border-radius: 20px;
    padding: 8px;
    width: 190px;
    background-color:black;
    color: white;
}
.ajustando{
    padding-top: 9px;
    align-items: center;
}
.carousel-inner .carousel-item picture img{
   padding-left: 5%;
    padding-right: 5%;
}
.secao1{
    align-items: center;
    height: 200px;
    margin-top: 30px;
    background-color:#d4e9e2;
    text-align:center;
    margin-left: 5%;
    margin-right: 5%;
}
.secao1 .row{
    padding-top: 80px;
    padding-bottom: 100px;
}
.secao1 button{
    width: 120px;
    border-radius: 30px;
    padding: 3px;
    background-color: #d4e9e2;
}
.secao1 .parte2{
    height: 500px;
}
.secao2{
   
    align-items: center;
    height: 400px;
    margin-top: 30px;
    background-color:#d4e9e2;
    text-align:center;
    margin-left: 5%;
    margin-right: 5%;
}
.secao2 img{
    
    width: 80%;
    height: 200px;
    border-radius: 5px;
}
.secao2 .row{
    padding-top: 80px;
    padding-bottom: 100px;
}
.secao2 button{
    width: 120px;
    border-radius: 30px;
    padding: 3px;
    background-color: #d4e9e2;
}
.secao3{
    align-items: center;
    height: 180px;
    margin-top: 30px;
    background-color:#d4e9e2;
    text-align:center;
    margin-left: 5%;
    margin-right: 5%;

}
.secao3 button{
    background-color:#d4e9e2;
}
.secao3 .accordion-body{
    background-color:#d4e9e2;
    z-index: 1;
}
.secao3 .accordion-body br{
    background-color:#d4e9e2;
    z-index: 1;
}
.secao3 .accordion-body ul li{
    list-style: none;
    display: inline;
    margin-left: 40px;
    font-size: 28px;
}
.secao4{
    align-items: center;
    height: 80px;
    margin-top: 190px;
    background-color:white;
    text-align:center;
    margin-left: 5%;
    margin-right: 5%;
    z-index: 0;

}

.secao4 ul li{
    list-style: none;
    display: inline;
    margin-left: 40px;
    font-size: 28px;
}

@media ( max-width:820px) {
    .alinhando-conteudo{
        text-align:end;
        padding-right: 50px;
    }
    .sub-menu-2 ul li{
        padding-top: 15px;
    }
    .sub-menu-2 ul li a,p{
        font-size: 28px;
        font-weight: bold;
    }
    .sub-menu-2 ul li button{
        font-size: 28px;
        font-weight: bold;
    }
    .butao-1-menu{
      
        width: 120px;
        
    }
    .butao-2-menu{
       
        padding: 12px;
        width: 290px;
       
    }
    .brand-logo img{
        width: 80px;
        height: 80px;
    }
    .carousel-inner .carousel-item picture img{
        padding-left: 0;
         padding-right: 0;
     }
     .secao1{
        align-items: center;
        height: 300px;
        margin-top: 30px;
        background-color:#d4e9e2;
        text-align:center;
        margin-left: 0;
        margin-right: 0;
        
    }
    .secao1 .row{
        width: 80%;
        text-align: center;
        margin-left: 10%;
    }
   .secao1 p{
    font-size: 15px;
   }
   .secao2{
   
    align-items: center;
    height: 700px;
    margin-top: 30px;
    background-color:#d4e9e2;
    text-align:center;
    margin-left: 0%;
    margin-right: 0%;
}
.secao2 .parte1{
    margin-top: 30px;
}
.secao3{
    align-items: center;
    height: 200px;
    margin-top: 30px;
    background-color:#d4e9e2;
    text-align:center;
    margin-left: 0%;
    margin-right: 0%;

}
}